                    body {
                        text-align: center;
                        background-color: teal;
                    }
                    
                    div {
                        color: rgb(0, 0, 0);
                    }
                    
                    #Name {
                        font-size: 50px;
                        font-family: monospace;
                        color: white;
                    }
                    
                    h1,
                    h3 {
                        display: inline-block;
                        font-family: monospace;
                    }
                    
                    button {
                        padding: 10px;
                        margin: 10px;
                        background-color: rgb(233, 230, 230);
                        border-radius: 10px;
                        font-family: monospace;
                        font-size: 20px;
                        outline: none;
                        border: none;
                        margin-top: 10px;
                    }
                    
                    button:hover {
                        background-color: rgb(248, 244, 244);
                    }
                    
                    .main {
                        font-family: Courier New, monospace;
                        background-color: rgb(233, 230, 230);
                        border-radius: 10px;
                        padding: 10px;
                    }
                    
                    #container {
                        margin-top: 40px;
                    }